<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>管理员登录</title>
        <link href="asserts/css/styles.css" th:href="@{asserts/css/styles.css}" rel="stylesheet">
    </head>

    <body>
        <div class="wrapper" >
            <div class="container">
                <h1>Welcome</h1>
                <form class="form" action="" th:action="@{/admin_login}" method="post">
                    <input type="text" placeholder="请输入账号" name="adminAccount" >
                    <input type="password" placeholder="请输入密码" name="adminPwd">
                    <button type="submit" id="login-button">登陆</button>
                </form>
            </div>

<!--            动画-->
            <ul class="bg-bubbles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>


        </div>
    </body>
</html>